<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="Shift_JIS">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email | 社員情報処理システム</title>
    <link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet" charset="Shift_JIS">
    <script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="Shift_JIS"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript" charset="Shift_JIS"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">社員情報処理システム</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h3>事務センター</h3>
        <br>
        <p th:text="${msg}"></p>
        <br>
        <p th:text="${zipPwd}"></p>
        <br>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>番号</th>
                <th>氏名</th>
                <th>メール</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee:${employeeList}">
                <td align="center" th:text="${employee.id}"></td>
                <td align="center" th:text="${employee.name}"></td>
                <td align="center" th:text="${employee.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <footer>
        <p>&copy; 2018 羽石株式会社　開発者：ＴＳＫ</p>
    </footer>
</div> <!-- /container -->
</body>
</html>